body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: aquamarine;
  font-family: 'Montserrat', sans-serif;
}

.this {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  * h1 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 0.9em;
    color: aquamarine;
  }
  > h2 {
    text-align: center;
    color: black;
    margin-top: 20px;
  }
}
