.this {
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: fixed;
  z-index: 200;
  top: 0px;
  left: 0px;
  right: 0px;
  .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
  }
  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
  }
  * h1 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 0.8em;
    color: aquamarine;
  }
}
